@model HRMSNUML.Models.skillcategory

@{
    ViewBag.Title = "Edit Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card card-info mt-2 mx-auto">
        <div class="card-header" style="background-color: deepskyblue;">
            <h3 class="card-title"> Edit Category </h3>
        </div>
    </div>

    @using (Html.BeginForm("EditSkillCategory", "HR", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SkillCategoryId)

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label style="color: #17a2b8;">Category Title * </label>
                    <input type="text" name="Title" id="Title" class="form-control" required />
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label style="color: #17a2b8;"> </label>
                    <input type="submit" value="Save" class="btn btn-primary btn-block" />
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <p> @ViewBag.Message</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label style="color: #17a2b8;">Back to Skill Form </label>

                <div class="form-group">

                    <a height="240px" class="btn btn-primary " href="AddSkill"> Back </a>
                </div>
            </div>
            <div class="col-md-6">
                <label style="color: #17a2b8;"> View Category </label>

                <div class="form-group">

                    <a height="240px" class="btn btn-primary " href="ViewSkillCategory"> View </a>
                </div>
            </div>
        </div>
    }

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
